/* body{
    background-color: aliceblue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    height: 600px;
    background-color: beige;
    border: 2px solid orange;
    border-radius: 2%;
}

.board{
    width: 300px;
    height: 450px;
    background-color: rgb(214, 214, 85);
    border: 2px solid rgb(237, 86, 83);
    border-radius: 2%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cell{
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: aqua;
    border: 2px solid black 5%;
}
 */


 /* Background */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

.cell {
    background: #f5f5f5;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    font-size: 60px;
    text-decoration: solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background: yellow;
}

.restartButton {
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.restartButton:hover {
    background-color: #218838;
}